@import url(https://allfont.ru/allfont.css?fonts=franklin-gothic-medium-cond);

:root{
    font-size: 18px;
    --main-color: #E94E1B;
    --dark-purple: #261334;
    --light-orange:#EFCEB6;
}

body,html{
    overflow-x: hidden;
}

*{
    font-family: 'Franklin Gothic Medium Cond', arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3.2rem;
    font-weight: 400;
}

h2{
    font-size: 2.4rem;
    display: flex;
    align-items: center;
}

h3{
    font-size: 1.6rem;
    margin: 15px;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.firstscreen{
    background: var(--main-color);
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

main{
    padding: 0;
    background: url(../img/background/back.png) center no-repeat;
    background-size: cover;
}

header ul{
    display: flex;
    list-style: none;
    width: 800px;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

footer ul{
    display: flex;
    list-style: none;
    width: 800px;
    justify-content: space-between;
}

.content{
    display: flex;
    align-items: center;
    
    padding-bottom: 50px;
}

.shar{
    background: url(../img/background_orange.png) center no-repeat;
}

.shine-button {
    text-decoration: none;
    display: inline-block;
    padding: 5% 15%;
    margin-top: 50px;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--dark-purple);
    border-radius: 40px;
    color: var(--dark-purple);
    transition: .2s ease-in-out;
    font-size: 1.2rem;
  }

  .shine-button:before {
    content: "";
    background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
    height: 80px;
    width: 50px;
    position: absolute;
    top: -8px;
    left: -75px;
    transform: skewX(-45deg);
  }

  .shine-button:hover {
    background: var(--dark-purple);
    color: #fff;
  }

  .shine-button:hover:before {
    left: 270px;
    transition: .8s ease-in-out;
  }

.content-center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10rem;
    font-size: 1.6rem;
}

.lowerscreen {
    padding-top: 100px;
}

.txt_orange{
    color: var(--main-color);
}

.txt_white{
    color:white;
    background: var(--main-color);
    border-radius: 100px;
    height: 120px;
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 10px;

}

.bigger{
    font-size: 1.2rem;
    margin-bottom: 45px;
}

.about{
    width: 58%;

    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
}

.history{
    margin-top: 70px;

    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.one_year{
    background: var(--main-color);
    color: white;
    text-align: center;

    width: 330px;
    height: 330px;
    border-radius: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    margin-bottom: 30px;
}

.year {
    font-size: 2rem;
}

.withslider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#wrapper {
    width: 4000px;
    position: relative;
    left: 0px;
    transition: left .5s ease-in-out;
}

.slider {
    float: left;
    width: 920px;
    height: 640px;
    white-space: normal;
    background-repeat: no-repeat;
    padding-right: 60px;
    margin: 0 auto;
    text-align: center;
}

#sliderContainer {
    width: 920px;
    height: 640px;
    border-radius: 50px;
    background: var(--dark-purple);
    overflow: hidden;

    margin-top: 70px;
    padding: 30px;

    color: white;

    
}

.lilslider{
    visibility: hidden;
    
}

#navLinks {
    margin: 10px;
    text-align: center;
    width: 250px;
    background-color: var(--light-orange);
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: white;
            padding: 10px;
            border-radius: 50%;
        }
            #navLinks ul li:hover {
                background-color: var(--main-color);
            }
            #navLinks ul li.active {
                background-color: var(--main-color);
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: var(--main-color);
                    color: #FFFFFF;
                }

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input{
    width: 60%;
    height: 70px;
    margin: 20px;

    border: none;
    background: var(--light-orange);
    border-radius: 65px;
    padding-left: 7%;
    color: var(--dark-purple);
    font-size: 1.2rem;
}

textarea{
    width: 60%;
    height: 320px;
    margin: 20px;

    border: none;
    background: var(--light-orange);
    border-radius: 65px;
    padding-left: 7%;
    padding-top: 25px;
    color: var(--dark-purple);
    font-size: 1.2rem;
}


.action-btn {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 50px;
    margin-bottom: 90px;
    background: var(--main-color);
    transition: .4s linear;
    padding: 10px 90px;
    border: none;
    color: white;
 }
 .action-btn:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    height: 130%;
    width: 91%;
    transform: translate(-50%, -50%);
    z-index: -1;
 }
 .action-btn:hover {
    background: var(--dark-purple);
 }

footer{

    background: var(--dark-purple);
    color: white;
    font-size: 0.7rem;

    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url(../img/background/stars.png);
}

.foot{
    display: flex;
    justify-content: space-between;
}

.footlogo {
    width: 25%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.social{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    :root{
        font-size: 14px;
    }
    .container{
        max-width: 90%;
    }

    .content{
        flex-direction: column;
    }
    
    .bigslider{
        visibility: hidden;
        height: 0px;
    }

    .lilslider{
        visibility: visible;
    }
    
    .slider {
        width: 400px;
        height: 260px;
    }
    
    #sliderContainer {
        width: 400px;
        height: 260px;
        padding: 20px;
    }

    .slider img{
        width: 200px;
    }
}

button.burger{
    border: none;
    width: 40px;
    height: 28px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transform: translateX(0px);
    transition: .3s;
}
button.burger.open{
    transform: translateX(-20px);
}
button.burger .line{
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    transition: .3s;
}
button.burger.open .line-2{
    width: 0px;
}
button.burger.open .line-1{
   transform: rotateZ(45deg) translateX(45%);
}
button.burger.open .line-3{
    transform: rotateZ(-45deg) translateX(45%);
}
@media screen and (max-width:576px){
    header{
        background: none;
    }
    header ul{
        top: 100px;
        right: 10px;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100px;
        background: var(--dark-purple);
        z-index: 2;
        padding: 20px 10px;
        width: 150px;

        transform: translateY(100%);
        opacity: 0;
        pointer-events: none;

        transition: .3s;
    }
    header ul.menu.open{
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
        border-radius: 10px;
    }
    button.burger{
        display: flex;
        background: transparent;
    }
    

    .content-center{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 20px;
    }

    .shar{
        background-image: none;
    }

    .arrow{
        transform: rotate(90deg);
    }

    .content-right img{
        width: 400px;
    }
    
    

    footer{
        background-position: center;
    }

    .social ul{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}