@import url(https://allfont.ru/allfont.css?fonts=franklin-gothic-medium-cond);

:root{
    font-size: 20px;
    --main-color: #E94E1B;
    --dark-purple: #261334;
    --light-orange:#EFCEB6;
}

body,html{
    overflow-x: hidden;
}

*{
    font-family: 'Franklin Gothic Medium Cond', arial;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 3.2rem;
    font-weight: 400;
}

h2{
    font-size: 2.4rem;
    display: flex;
    align-items: center;
}

.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.firstscreen{
    background: var(--main-color);
    color: white;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

header ul{
    display: flex;
    list-style: none;
    width: 800px;
    font-size: 1.2rem;
    font-weight: 400;
    justify-content: space-between;
}

header ul li a{
    text-decoration: none;
    color: white;
}

.content{
    display: flex;
    align-items: center;
    
    padding-bottom: 50px;
}

.shar{
    background: url(../img/background_orange.png) center no-repeat;
}


.content-left button {
    background-color: var(--dark-purple);
    color: white;
    border: none;
    border-radius: 40px;

    width: 220px;
    height: 70px;
    font-size: 1.2rem;
    margin-top: 50px;
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 10rem;

    font-size: 1.6rem;
}

.lowerscreen {
    margin-top: 100px;
}

.txt_orange{
    color: var(--main-color);
}

.txt_white{
    color:white;
    background: var(--main-color);
    border-radius: 100px;
    height: 120px;
    width: 120px;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 10px;

}

.bigger{
    font-size: 1.2rem;
    margin-bottom: 45px;
}

.about{
    width: 700px;

    display: flex;
    flex-direction: column;
}

.center{
    display: flex;
    justify-content: center;
}

.history{
    margin-top: 70px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.one_year{
    background: var(--main-color);
    color: white;
    text-align: center;

    width: 330px;
    height: 330px;
    border-radius: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    margin-bottom: 30px;
}

.year {
    font-size: 2rem;
}